::-webkit-scrollbar-button {background-image:url('');  
background-repeat:no-repeat;  
width:3px;  
height:0px}  

::-webkit-scrollbar-track {background-color: #111;}  

::-webkit-scrollbar-thumb {  
-webkit-border-radius: 3px;  
border-radius: 3px;background-color: #737270;   
background-position:center;  
background-repeat:no-repeat;}  

::-webkit-resizer{  
background-image:url('');  
background-repeat:no-repeat;  
width:4px;  
height:0px  
}  

::-webkit-scrollbar{width: 5px;}

html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


body{background: #34383D; margin: 0px; margin-bottom: 5px;}




.header {
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  position: sticky;
  top: 0;
  height: 50px;
  background: #1C1E21;
  margin-top: 0;
  color: white; text-align: right;
}

.button {
  display: inline-block;
  float: right;
  margin-top: 3px;
  padding: 7px 14px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #e7e7e9;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  margin-right: 5px;
}

.button2 {
  display: inline-block;
  margin-top: 3px;
  padding: 7px 14px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #e7e7e9;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #e7e7e98f}

.button:active {
  background-color: #e7e7e98f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2:hover {background-color: #e7e7e98f}

.button2:active {
  background-color: #e7e7e98f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-group .button1 {
  background-color:#1C1E21;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  float: left;
  left: 50%;
}

.btn-group .button1:hover {
    background-color: #434750;
}

.welcome-text {
  color: white;
}

.wtext {
  font-size: 28px;
  font-family: 'Potta One', cursive;
}

.guest {
  font-family: 'Potta One', cursive;
  font-size: 40px;
  color: white;
  display: flex;	
  justify-content: center;
  margin-top: 10%;
}

.wetext {
  text-decoration: none;
  color: white;
}

#is_active {
  background: #999;
  font-size: 22px;
  padding: 12px 32px;
}

.content {
  margin: 5px 22% 5px 22%;
  color: white;
  font-size: 27px;
  font-family: "Potta-one", cursive;
}

 .col-1-2 {
  margin: 5px;
  width: 45%;
  float: right;
}
.col-1-3 {
  margin: 5px;
  width: 30%;
  float: left;
}
 .col1-1-2 {
  margin: 5px;
  width: 45%;
  float: left;
}
.col1-2-3 {
  margin: 5px;
  width: 66.6666666667%;
  float: left;
}
.col1-1-3 {
  margin: 5px;
  width: 30%;
  float: left;
}
.col-1-4 {
  margin: 5px;
  width: 25%;
  float: left;
}
.col-2-3 {
  margin: 5px;
  width: 66.6666666667%;
  float: left;
}
.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}


#card_image {
  opacity: 0.30; 
  object-fit: cover;
}
.card {
  border-radius: 30px;
  height: 300px; 
  margin-top: 10px;
  background-color:rgba(0,0,0,.3); 
  -webkit-text-stroke: 0.07vw black; 
  -webkit-text-fill-color: white; 
  object-fit: cover; 
  overflow: hidden; 
  align-items: center;
  line-height: calc(6px - 1vw);
}
.card:hover {
  background-color:rgb(255,255,255);
  border: 5px solid #fff;
  height: 290px; 
}

#title {
  font-size: 3.3vw;
}
#description {
    font-size: 2.3vw;
    -webkit-text-stroke: 0px black; 
    -webkit-text-fill-color: white;
}


@media screen and (min-width: 1200px) {
  #title {
    font-size: 39.6px;
  }
    #description {
    font-size: 27.6px;
  }
}


img {
 max-width:100%;
 margin-top: -210px;
 object-fit: cover;
}

.card-img-overlay {
  margin-top: 110px;
  margin-left: 10px;
}

.bumper {
  margin-top: 12%;
}